@import 'styles/base-refs';

.airdropModal {
  max-width: 750px !important;
  color: #3e1f05;
}

.airdropGrid {
  width: 100%;
  padding: 0 0.5em;
  margin-top: 32px;
  position: relative;

  .headingsRow {
    display: grid;
    gap: 16px;
    grid-template-columns: 186px 70px auto 100px;
    padding: 0px 10px;

    > div {
      font-size: 13px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  .airdropRow {
    display: grid;
    grid-template-columns: 160px 70px auto 100px;
    grid-template-areas: 'item quantity note claim ';
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 16px;
    background-color: $parchment-dark;
    border-radius: 10px;
    margin: 10px 0px;
  }

  .leftColumn {
    font-family: $serif-font;
    align-items: center;
    display: flex;
    grid-area: item;

    img {
      max-width: 60px;
      margin-right: 10px;
    }
  }

  .itemQuantity {
    text-align: center;
    grid-area: quantity;
  }

  .airdropNote {
    grid-area: note;
  }

  .airdropClaim {
    grid-area: claim;
  }
}

@media (max-width: 700px) {
  .airdropGrid {
    .headingsRow {
      display: none;
    }

    .airdropRow {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'item  quantity'
        'note  note'
        'claim claim';
    }

    .airdropClaim,
    .airdropNote {
      text-align: center;
    }
  }
}
