$small-desktop: 1200px;
$tablet: 960px;
$mobile: 767px;

@mixin small-desktop {
  @media (max-width: $small-desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-min {
  @media (min-width: ($mobile + 1)) {
    @content;
  }
}
