$white: #fff;
$white-24: rgba($white, 0.24);
$white-54: rgba($white, 0.54);
$black: #000;
$black-54: rgba($black, 0.54);
$beige-fill: #f9f3ea;
$brown: #3e1f05;
$brown-light: #4c3e23;
$brown-stroke: #321208;
$brown-stroke-light: #491306;
$deep-blue: #100f21;
$deep-gray: #292929;
$green: #27ae60;
$green-54: rgba($green, 0.54);
$gold: #fac05d;
$gold-dark: #fba307;
$gold-dim: #5c4b2d;
$gold-light: #fbeb74;
$overlay-gray: rgba(30, 30, 30, 0.5);
$parchment: #ffe3bd;
$parchment2: #fbddb8;
$parchment3: #feeacd;
$parchment-dark: #efcba2;
$parchment-darker: #daad82;
$fancyBrown: #744e45;
$fancyBrownLight: #8d604e;
$fancyBrownDark: #4b2724;
$fancyOrangeDark: #985c37;
$fancyOrange: #d9ac82;
$fancyOrangeLight: #eecaa1;
$fancyRedDark: #360e05;
$red: #fd4040;
$green: #00994c;
$green-dark: #056c46;
