build:
  image:
    name: docker
    entrypoint: [""]
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - CURRENT_IMAGE_VERSION=$(aws ecr describe-images --repository-name arb-bot --query 'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[0]' | tr -d '"')
    - NEXT_VERSION=$(echo $CURRENT_IMAGE_VERSION 0.01 | awk '{print $1 + $2}')
  script:
    - docker build -t $AWS_ACCOUNT/$ECR_REPO:$NEXT_VERSION .
  only:
    variables:
      - $CI_COMMIT_BRANCH != "master"

publish:
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - CURRENT_IMAGE_VERSION=$(aws ecr describe-images --repository-name arb-bot --query 'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[0]' | tr -d '"')
    - NEXT_VERSION=$(echo $CURRENT_IMAGE_VERSION 0.01 | awk '{print $1 + $2}')
  script:
    - docker build -t $AWS_ACCOUNT/$ECR_REPO:$NEXT_VERSION .
    - aws ecr get-login-password | docker login --username AWS --password-stdin $AWS_ACCOUNT
    - docker push $AWS_ACCOUNT/$ECR_REPO:$NEXT_VERSION
    - aws ecs update-service --cluster $ECS_CLUSTER --service $ECS_SERVICE --desired-count 0
    - aws cloudformation update-stack
      --stack-name $CFN_STACK_NAME
      --use-previous-template
      --parameters ParameterKey=Image,ParameterValue=$AWS_ACCOUNT/$ECR_REPO:$NEXT_VERSION
      --capabilities CAPABILITY_NAMED_IAM
    - aws ecs update-service --cluster $ECS_CLUSTER --service $ECS_SERVICE --desired-count 1
  only:
    - master