#variables:
#  DOCKER_REGISTRY: 538602529242.dkr.ecr.eu-west-1.amazonaws.com/arb-bot
#
#publish:
#  image:
#    name: amazon/aws-cli
#    entrypoint: [""]
#  before_script:
#    - aws --version
#  script:
#    - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY

variables:
  DOCKER_REGISTRY: 538602529242.dkr.ecr.eu-west-1.amazonaws.com
  AWS_DEFAULT_REGION: eu-west-1
  APP_NAME: arb-bot
  DOCKER_HOST: tcp://docker:2375

publish:
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - aws --version
    - docker --version
  script:
    - docker build -t $DOCKER_REGISTRY/$APP_NAME:$CI_PIPELINE_IID .
    - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
    - docker push $DOCKER_REGISTRY/$APP_NAME:$CI_PIPELINE_IID