publish:
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - aws --version
    - docker --version
  script:
    - docker build -t $AWS_ACCOUNT/$ECR_REPO:$CI_PIPELINE_IID .
    - aws ecr get-login-password | docker login --username AWS --password-stdin $AWS_ACCOUNT
    - docker push $AWS_ACCOUNT/$ECR_REPO:$CI_PIPELINE_IID
    - aws cloudformation update-stack --stack-name $AWS_STACK_NAME --use-previous-template --parameters ParameterKey=Image,ParameterValue=$AWS_ACCOUNT/$ECR_REPO:$CI_PIPELINE_IID