@import 'styles/base-refs';

@keyframes floating {
  from,
  to {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -15%);
  }
}

.spriteBubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -50%;
  margin: 0;
  font-family: $serif-font;
  font-size: 28px;
  color: $fancyBrownDark;
  font-weight: bold;
  animation: floating 3s ease-in-out infinite;
  white-space: nowrap;
  z-index: 2000;

  span {
    position: relative;
    z-index: 20;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url('./images/spritebubbleleft.png'), url('./images/spritebubbleright.png');
    background-repeat: no-repeat;
    background-position: center left, center right;
    z-index: 10;
    @include pixel-perfect;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./images/spritebubblemiddle.png');
    background-repeat: repeat-x;
    background-position: center center;
    @include pixel-perfect;
  }

  .spriteArrow {
    position: absolute;
    left: 50%;
    background-image: url('./images/spritebubblearrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateX(-50%);
    z-index: 30;
    @include pixel-perfect;
  }
}
