@import 'styles/base-refs';

.profileChoiceWrapper {
  position: relative;
  display: inline-block;
  margin: 4px;
  padding: 0;
  border: 0;
  background-color: transparent;

  .profileChoiceFrame {
    position: relative;
    width: 96px;
    height: 100px;
    background: url('../../../../../assets/images/profile-pics/pBorderDim.png');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    @include pixel-perfect;
  }

  &:hover {
    .profileChoiceFrame {
      background: url('../../../../../assets/images/profile-pics/pBorder_Hover.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  &.selected {
    .profileChoiceFrame {
      background: url('../../../../../assets/images/profile-pics/pBorder.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  &.boredApe {
    img {
      width: 90px;
    }
  }

  &:not(.boredApe) {
    img {
      @include pixel-perfect;
    }
  }

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
  }
}
