.inventoryModal {
  .inventoryContent {
    padding-top: 64px;
  }
}

.inventoryGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 64px));
  column-gap: 12px;
  row-gap: 18px;
  place-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  z-index: 2;
}
