@import 'styles/base-refs';

.inventoryBlock {
  .quantity {
    position: absolute;
    bottom: 4px;
    right: 8px;
    margin: 0;
    font-family: $sans-serif-font;
    font-size: 12px;
    font-weight: bold;
    color: $white;
    pointer-events: none;
    text-shadow: 1px 1px #000;
  }

  &.disabled {
    img {
      opacity: 0.5;
      filter: grayscale(0.75);
    }
  }
}
