@import 'styles/base-refs';

.itemTooltip {
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  padding: 16px;
  transform: translateX(-50%);
  text-align: center;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;

  h4 {
    margin: 0 0 8px;
  }

  p {
    &.itemDescription {
      margin: 0 0 16px;
      font-family: $sans-serif-font;
      font-size: 13px;
      color: white;
    }
  }

  ul {
    padding: 16px;
    margin: 0;
    text-align: left;
  }

  .triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.9);
    transform: translateX(-50%);
  }
}
