@import 'styles/base-refs';

.fancyContainer {
  position: relative;
  width: 90%;
  max-width: 565px;
  padding: 64px 50px 50px;
  background-color: $parchment;
  background-image: url('../../../assets/images/gui/basic_left.png'), url('../../../assets/images/gui/basic_right.png'),
    url('../../../assets/images/gui/basic_top.png'), url('../../../assets/images/gui/basic_bottom.png');
  background-position: top left, top right, top left, bottom left;
  background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
  z-index: 1;
  border-radius: 40px;

  @include mobile {
    padding: 64px 48px;
    width: 100%;
  }

  &:before {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    top: 0px;
    left: 0px;
    width: 100%;
    background-image: url('../../../assets/images/gui/basic_top_left.png'),
      url('../../../assets/images/gui/basic_top_right.png'), url('../../../assets/images/gui/basic_bottom_left.png'),
      url('../../../assets/images/gui/basic_bottom_right.png');
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
  }

  .fancyContent {
    position: relative;
  }
}
