// extracted by mini-css-extract-plugin
module.exports = {"inventoryBlock":"InventoryBlock_inventoryBlock__ZcYC5","quantity":"InventoryBlock_quantity__3Ld4Y","disabled":"InventoryBlock_disabled__3UU5h"};