// extracted by mini-css-extract-plugin
module.exports = {"itemTooltip":"ItemTooltip_itemTooltip__2KvVP","itemDescription":"ItemTooltip_itemDescription__2apB-","triangle":"ItemTooltip_triangle__3FkeQ"};