@import 'styles/base-refs';

.npcDialog {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 289px 1fr;
  min-height: 250px;
  background-color: $parchment;
  background-image: url('../../../assets/images/gui/npcDialogue_left.png'),
    url('../../../assets/images/gui/npcDialogue_right.png'), url('../../../assets/images/gui/npcDialogue_top.png'),
    url('../../../assets/images/gui/npcDialogue_bottom.png');
  background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
  background-position: top left, top right, top left, bottom left;
  border-radius: 25px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../assets/images/gui/npcDialogue_top_left.png'),
      url('../../../assets/images/gui/npcDialogue_top_right.png'),
      url('../../../assets/images/gui/npcDialogue_bottom_left.png'),
      url('../../../assets/images/gui/npcDialogue_bottom_right.png');
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 0;
    text-align: center;
  }

  .npcText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 24px 24px 16px;
    color: $fancyBrown;

    @include mobile {
      align-items: center;
      padding: 16px 36px 0;
    }

    h4 {
      margin: 0 0 8px;
      font-family: $serif-font;
      font-size: 26px;
      position: absolute;
      top: -18px;
      left: 0px;
      background-image: url('../../../assets/images/gui/npcName_middle.png');
      background-repeat: repeat-x;
      height: 58px;
      line-height: 58px;
      padding: 0px 20px;
      color: $beige-fill;
      @include text-stroke(3.5px, $brown-stroke);
      white-space: nowrap;

      @include mobile {
        position: relative;
        top: -36px;
        margin: 0;
        font-size: 20px;
      }

      span {
        position: relative;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% + 60px);
        top: 0;
        left: -30px;
        height: 100%;
        background-image: url('../../../assets/images/gui/npcName_left.png'),
          url('../../../assets/images/gui/npcName_right.png');
        background-repeat: no-repeat;
        background-position: top left, top right;
      }
    }

    p {
      margin: 0;
      font-size: 16px;

      @include small-desktop {
        font-size: 14px;
      }
    }
  }

  &.noImage {
    padding: 0;
    grid-template-columns: 1fr;
    min-height: 150px;

    @include mobile {
      padding: 0 24px 24px;
    }

    .profileContainer {
      display: none;
    }

    .npcText {
      padding: 56px 40px 36px;

      @include mobile {
        padding: 16px 36px 36px;
      }

      h4 {
        left: 80px;

        @include mobile {
          left: 0;
        }
      }
    }
  }

  .profileContainer {
    @include mobile {
      order: 1;
    }

    .profileImage {
      position: absolute;
      bottom: 0;
      left: 4px;
      width: 289px;
      height: auto;
      @include pixel-perfect;
      z-index: 2;

      @include mobile {
        position: relative;
        display: block;
      }
    }
  }

  &.longText {
    grid-template-columns: 250px 1fr;

    &.noImage {
      grid-template-columns: 1fr;
    }

    .npcText {
      p {
        font-size: 14px;

        @include small-desktop {
          font-size: 13px;
        }
      }
    }

    .profileContainer {
      .profileImage {
        width: 250px;
      }
    }
  }

  &.newProfile {
    width: 100%;
    min-height: 165px;
    max-width: 800px;
    grid-template-columns: 94px 1fr;

    @include tablet {
      grid-template-columns: 176px 1fr;
      min-height: 0;
    }

    .profileImage {
      bottom: auto;
      top: 50%;
      left: 0;
      width: auto !important;
      transform: translate(-55%, -70%);
      z-index: 20;

      @include tablet {
        left: -10px;
        transform: translate(0, -70%);
      }

      @include mobile {
        position: static;
        display: inline-block;
        transform: translate(0);
      }
    }

    .profileContainer {
      @include mobile {
        padding-bottom: 8px;
        text-align: center;
      }
    }

    .npcText {
      padding: 56px 32px 32px 16px;

      @include tablet {
        padding: 56px 32px 32px;
      }

      @include mobile {
        padding: 16px 36px;
      }

      h4 {
        left: 25px;

        @include mobile {
          left: 0;
        }
      }

      p {
        font-family: $serif-font;
        font-size: 20px;
        line-height: 1.6;
        font-weight: bold;
      }
    }

    &.longText {
      .npcText {
        p {
          font-size: 14px;
        }
      }
    }
  }

  .frameClose {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 52px;
    height: 52px;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    z-index: 2;
    @include pixel-perfect;

    &:focus-visible {
      border: 2px dotted rgba(0, 0, 0, 0.8);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      img {
        top: auto;
        bottom: 0;
      }
    }
  }
}
