@import 'styles/base-refs';

.loginPage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: url('./images/map-bg.png') center center / cover no-repeat;

  @media (max-height: 600px) {
    min-height: 600px;
  }

  @include mobile {
    min-height: 100vh;
  }

  img {
    max-width: 100%;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    padding: 18px 0 48px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;

    @media (max-height: 600px) {
      justify-content: flex-start;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 11, 8, 0.7);
    z-index: 0;
  }

  .crystalvaleLogo {
    margin-bottom: 24px;
  }

  &.cvBg {
    background: url('./images/cv-map-bg.gif') center center / cover no-repeat;

    .overlay {
      background-color: rgba(33, 38, 57, 0.7);
    }
  }
}
