@import 'styles/base-refs';

.fancyBlock {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 64px;
  background-color: $parchment-dark;
  border-radius: 8px 2px 8px 2px;
  background-image: url('../../../assets/images/gui/inventory-itemFrameLeft.png'),
    url('../../../assets/images/gui/inventory-itemFrameRight.png');
  background-position: top left, top right;
  background-repeat: repeat-y, repeat-y;
  border: 0;
  color: white;
  outline: none;

  &.hoverEffect {
    cursor: pointer;

    &.customCursor {
      cursor: url('../../../assets/images/gui/click-cursor-2x.png'), auto;
    }

    &:hover,
    &:focus {
      background-color: $parchment-darker;
    }
  }

  &:not(.hoverEffect) {
    cursor: auto;

    &.customCursor {
      cursor: url('../../../assets/images/gui/default-cursor-2x.png'), auto;
    }
  }

  &:before,
  &:after {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    height: calc(100% + 6px);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
  }

  &:before {
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6px);
    border-radius: 8px 2px 8px 2px;
    background-image: url('../../../assets/images/gui/inventory-itemFrameTop.png'),
      url('../../../assets/images/gui/inventory-itemFrameBtm.png');
    background-position: top center, bottom center;
    background-repeat: repeat-x, repeat-x;
  }

  &:after {
    top: -3px;
    left: 0px;
    width: 100%;
    background-image: url('../../../assets/images/gui/inventory-itemFrameTopLeft.png'),
      url('../../../assets/images/gui/inventory-itemFrameTopRight.png'),
      url('../../../assets/images/gui/inventory-itemFrameBtmLeft.png'),
      url('../../../assets/images/gui/inventory-itemFrameBtmRight.png');
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
  }

  img {
    -webkit-user-drag: none;
    @include pixel-perfect;
  }

  &.parchmentBlock {
    min-height: 0;
    padding: 50px;
    background-color: $parchment3;
    background-image: url('../../../assets/images/gui/parchment-modal/featured_board_left.png'),
      url('../../../assets/images/gui/parchment-modal/featured_board_right.png'),
      url('../../../assets/images/gui/parchment-modal/featured_board_top.png'),
      url('../../../assets/images/gui/parchment-modal/featured_board_bottom.png');
    background-position: top left, top right, top left, bottom left;
    background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
    z-index: 1;
    border-radius: 80px 80px 40px 40px/200px 300px 40px 40px;
    color: $fancyBrown;

    &:before {
      content: '';
      pointer-events: none;
      display: block;
      position: absolute;
      height: 100%;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
      top: 0px;
      left: 0px;
      width: 100%;
      background-image: url('../../../assets/images/gui/parchment-modal/featured_board_top_left.png'),
        url('../../../assets/images/gui/parchment-modal/featured_board_top_right.png'),
        url('../../../assets/images/gui/parchment-modal/featured_board_bottom_left.png'),
        url('../../../assets/images/gui/parchment-modal/featured_board_bottom_right.png');
      background-position: top left, top right, bottom left, bottom right;
      background-repeat: no-repeat;
      transform: none;
    }

    &:after {
      content: none;
    }

    @include mobile {
      padding: 24px;
      background-size: 20%;
      border-radius: 40px 40px 20px 20px/400px 350px 40px 40px;

      &:before {
        background-size: 20%;
      }
    }
  }
}
