// extracted by mini-css-extract-plugin
module.exports = {"inventoryModal":"InventoryModal_inventoryModal__TCIb2","inventoryContent":"InventoryModal_inventoryContent__2kEPQ","inventoryGrid":"InventoryModal_inventoryGrid__2iSQL"};