@import 'styles/base-refs';

.volumeControl {
  display: flex;
  gap: 5px;

  .wrapper {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: white;

    .volume {
      transform: rotate(-90deg);
      position: absolute;
      bottom: 62px;
      padding: 12px;
      width: 120px;
      @include range-input($white, $black-54, $black, $green);

      input {
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 50px;
      }
    }

    &.customCursor {
      cursor: url('../../../assets/images/gui/click-cursor-2x.png'), auto;

      .volume {
        @include range-input($white, $black-54, $black, $green-54, true);
      }
    }
  }
}
