.goldWrapper {
  display: inline-block;
  min-width: 136px;
  margin-bottom: 12px;
  text-align: center;

  h3 {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    margin: 2px 0 0;
    font-size: 13px;
    font-weight: 400;
    color: black;
  }

  .goldPiles {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &:first-of-type {
        transform: translateX(-20%);
      }

      &:last-of-type {
        top: 7px;
        transform: translateX(-75%);
      }
    }
  }
}
