@import 'styles/base-refs';

.button {
  width: 40px;
  height: 40px;
  border: 1px solid rgba($white, 0.25);
  background: rgba($black, 0.5);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 4px 0;

  svg {
    width: 20px;
  }

  &:hover {
    background: rgba($black, 0.25);
  }
}
